<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.interesto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Interesto">
        <activity
            android:name=".activity.Grid_User_View"
            android:exported="false" />
        <activity
            android:name=".activity.Information"
            android:exported="false" />
        <activity
            android:name=".activity.WebViewClass"
            android:exported="true" />
        <activity
            android:name=".activity.ChattingActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Profile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PhoneNumber"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.OTPVerification"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>